/* Cooper Hewitt */
@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/CooperHewitt-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/CooperHewitt-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/CooperHewitt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/CooperHewitt-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/CooperHewitt-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/CooperHewitt-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/CooperHewitt-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nacelle Ultra Light";
  src: url("/fonts/nacelle/nacelle_ultralight.woff2") format("woff2");
}
@font-face {
  font-family: "Tenderness";
  src: url("/fonts/tenderness/Tenderness_Regular.otf") format("otf");
}
