/* Cooper Hewitt */
@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/cooperhewitt-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/cooperhewitt-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/cooperhewitt-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/cooperhewitt-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/cooperhewitt-heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/cooperhewitt-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper_hewitt/cooperhewitt-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tenderness";
  src: url("/fonts/tenderness/Tenderness-Regular.woff2") format("woff2");
}
